<head>
  <meta charset="UTF-8">
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TLR1JET7S4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TLR1JET7S4');
</script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ 'assets/normalize.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/open-color.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/monophase/styles.css' | relative_url }}">
  {% feed_meta %}
  {% seo %}

  <script async src="https://use.fontawesome.com/releases/v5.0.12/js/all.js"></script>
  
</head>
